<%# WARNING!!!! Do Not Move Or Delete, see the file named IMPORTANT-WARNING.md %>
<% const generateMeetLink = (meet) => `https://www.mintbean.io/meets/${meet.id}` %>
<div>
  <p>Today is the last day to submit your projects for <%= meet.title %>.</p>
  <p>Submissions are due by no later than <strong><%= moment.tz(meet.endTime, meet.region).format("lll z") %></strong>.</p>

  <p>If you haven’t started a submission yet, please do so now. (We’ll walk you through the checklist, if you need help - drop a message in the current-event channel).</p>

<p>Submission checklist.</p>

<ol>
  <li><u><strong>Submit your projects on the Mintbean Platform</strong></u>. Once you are logged in, you will see a <strong>"Submit A Project"</strong> appear on the <a href="<%= generateMeetLink(meet.id) %>">event page</a>! Click that button to submit your project! For groups, only 1 person needs to submit on behalf of the team </li>

  <li><u><strong>Post On Your LinkedIn! (Mandatory).</strong></u>
    <p>Post Requirements:</p>
    <ul>
      <li>Blurb about the challenge</li>
      <li>What technologies you used to build it</li>
      <li>What you learned from building this project</li>
      <li>Include project link (Recommend Mintbean Submission Link)</li>
      <li>Tag Mintbean</li>
      <li>Use relevant hashtags (mintbean, technologies, key word searches)</li>
      <li>1-3 mins video demoing (screen capture) your project with audio explanation</li>
      <li>If you are in a group, each team member will need to post as well!</li>
    </ul>
  </li>

  <li><u><strong>Post in our Discord in the #current-event channel (Mandatory)</strong></u>
    <p>Drop your LinkedIn post on Discord in the <strong>#current-event</strong> channel.</p>
    <p>This will help us keep track of LinkedIn submissions and our community will help boost your post visibility and engagement with likes, comments, & shares!</p>
    <p>If you are in a team, each member has to post as well!</p>
  </li>
</ol>

<p>Good Luck - we can’t wait to see your work!</p>
<p>Got Questions? -  We’re standing by on <a href="https://discord.gg/y6w3FFE">Discord</a>, so please reach out on the <strong>#current-event</strong> channel.</p>
 














This will help us keep track of LinkedIn submissions and our community will help boost your post visibility and engagement with likes, comments, & shares!

If you are in a team, each member has to post as well!

Good Luck - we can’t wait to see your work!

Got Questions? -  We’re standing by on Discord, so please reach out on #current-event channel.

</div>
