<%# WARNING!!!! Do Not Move Or Delete, see the file named IMPORTANT-WARNING.md %>
<div>
  <p>You're in! Get excited to get your hack on!! 🚀</p>
  <p>We're stoked to have you participate in this week's Mintbean hackathon. Some important next steps:</p>

  <ul>
    <li>
      Join our Dev Discord community (our main communication channel)
      <a href="https://discord.gg/y6w3FFE ">https://discord.gg/y6w3FFE </a>
    </li>
    <li>
      We kickoff all of our hackathons with a 30mins orientation We go over the hackathon schedule, format, submission
      process, code mentor office hours, and much more
    </li>
    <li>
      To join our live event, you’ll find the Zoom link attached to your calendar invite. It will also be dropped in our
      discord channel 10mins before the hackathon starts
    </li>
    <li>Note: You can hack solo or up to 3 people, find a team in #find-a-team channel on discord</li>
    <li>Challenge requirements will be released right after orientation!</li>
  </ul>

  <p>
    If you have any questions or concerns, please do not hesitate to message any of the organizers on Discord (our names
    are highlighted in green!)
  </p>
  <p>See you on the flipside coders!</p>
</div>
