<%# WARNING!!!! Do Not Move Or Delete, see the file named IMPORTANT-WARNING.md %>
<% const moment = require('moment-timezone') %>
<div>
  <p>Hey <%= recipient.firstName %>,</p>
  <p>You’re in! Get excited to get your hack on! 🚀</p>
  <p>Now that you have officially registered we’ll be sending you regular updates throughout the hackathon. To help kick things off, some important next steps:</p>

  <ol>
    <li>
      <a href="https://discord.gg/y6w3FFE">Join our Mintbean Discord</a> server
    </li>
    <li>
      <strong>Mark you calendar</strong> by accepting the attached invite. To join our live event, you’ll find the Zoom link attached to your calendar invite. 
    </li>
    <li>
      <strong>Consider Teammates.</strong> Thinking about buddying up? You can hack solo or up to 3 people, find a team in the <strong>#find-a-team</strong> channel on the <a href="https://discord.gg/y6w3FFE ">Mintbean Discord</a>. 
    </li>
    <li>
      <strong>Attend Orientation.</strong> Be sure you understand all the requirements before you get started. 
    </li>
    <li>
      <strong>Attend Challenge walkthrough.</strong> Get the insights from your challenge creator. Utilize their knowledge base to get yourself started with your project. 
    </li>
    <li>
      <strong>Have Fun and Good Luck!</strong>
    </li>
  </ol>

  <p>We can’t wait to see your solution - remember the deadline to submit is <strong><%= moment.tz(meet.endTime, meet.region).format("lll z") %></strong>.</p>
  
  <p>Got questions? Please do not hesitate to message any of the organizers on <a href="https://discord.gg/y6w3FFE">Discord</a> (our names are highlighted in green!) </p>
</div>
