<%# WARNING!!!! Do Not Move Or Delete, see the file named IMPORTANT-WARNING.md %>
<div>
  <p>The moment you’ve been waiting for has arrived! It’s time to meet your maker…. I mean your fellow hackers!</p>
  <% if(meet.registerLink){ %>
    <p>Join us on Zoom in 30 minutes and get ready for your hackiest week! 🤓 </p>
    <p><a href="<%= meet.registerLink %>"><%= meet.registerLink %></a></p>
    <% } else { %>
      <p>Join us on <a href="https://discord.gg/y6w3FFE">Discord</a> to find out how to join, and get ready for your hackiest week! 🤓 </p>
  <% } %>
  <p>See you in a jiffy! 🔥</p>
</div>
