<%# WARNING!!!! Do Not Move Or Delete, see the file named IMPORTANT-WARNING.md %>
<div>
  <p> There are only 2 days left to complete your submission for <%= meet.title %>.</p>

  <p>Need any support? Feel free to drop a message in the <strong>#code-mentor</strong> help channel on the <a href="https://discord.gg/y6w3FFE">Mintbean Discord</a>.</p>
</div>
